@mixin respond($breakpoint) {
    
    @if $breakpoint == phone{
        @media only screen and (max-width: 37.5em) {// 600px
            @content
        }
    }

    @if $breakpoint == tab-port{
        @media only screen and (max-width: 56.25em) {// 900px
            @content
        }
    }

    @if $breakpoint == tab-land{
        @media only screen and (max-width: 75em) {// 1200px
            @content
        }
    }

    @if $breakpoint == big-desktop{
        @media only screen and (min-width: 112.5em) {// 1800px
            @content
        }
    }
}


@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}
