// COLORS
$color-primary: #5fb4a2;
$color-primary-dark-1: #203a4c;
$color-primary-dark-2: #33323d;

$color-secondary-light-1: #fafafa;
$color-secondary-light-2: #eaeaeb;
$color-secondary-error: #f43030;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// FONT VARIABLES
$font-primary: "Ibarra Real Nova", serif;
$font-secondary: "Public Sans", sans-serif;

/* Config */
$color-bg: #F2F2F2;
$color-particle: rgba($color-primary-dark-2, .5);
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

