.footer {
  grid-column: full-start / full-end;
  background-color: $color-primary-dark-2;
  color: $color-white;
  font-family: $font-secondary;
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
  padding: 2.5rem 0;

  
  display: grid;
  grid-template-columns:
  [full-start] minmax(13rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end])
  [center-end] minmax(13rem, 1fr) [full-end];
  
  @include respond(tab-port) {
    grid-template-columns:
    [full-start] minmax(4rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end])
    [center-end] minmax(4rem, 1fr) [full-end];
  }
  
  @include respond(phone){
    padding: 5.6rem 0;
  }

  &__box {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__nav,
  &__list,
  &__icons-list {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__nav,
  &__list {
    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__nav {
    width: 100%;
    justify-content: space-between;
  }

  &__list {
    width: 30%;
    justify-content: space-around;

    @include respond(tab-port) {
      width: 50%;
      margin-left: 4rem;
    }

    @include respond(phone){
      margin-left: 0;
      margin-bottom: 2rem;
    }
  }

  &__item{
    margin: 2.4rem 0;
  }

  &__icons {
    &-list {
      width: 8%;
      justify-content: space-between;

      @include respond(tab-port) {
        width: 17%;
      }

      @include respond(phone){
        width: 40%;
      }
    }
  }

  &__logo{
    @include respond(phone){
      margin-bottom: 2rem;
    }
  }
}
